@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
img {
  width: 100%;
}
p,
a,
li {
  font-size: 16px !important;
}

.logo img {
  width: 50px;
  margin: 5px auto;
}
.logo {
  display: inline-grid;
}

.dash-first-section {
  width: 20%;
  height: 100vh;
  background-color: rgb(179, 198, 171);
  text-align: center;
  padding: 20px 0;
  position: fixed;
}

ul {
  /* margin-top: 50px; */
}

ul li img {
  width: 20px;
  height: 20px;
}
.flex-list {
  width: 80%;
  background-color: blue;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}
.nav-list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.fixed-bars {
  display: flex;
  position: relative;
}

.body-flex {
  width: 80%;
  margin-left: 20%;
}
.flex-all {
  display: flex;
}
.first {
  max-width: 300px;
  width: 100%;
  background-color: red;
  height: 100vh;
  position: fixed;
  left: 0;
}
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
}
.list_parent {
  position: relative;
}
.new_list {
  position: absolute;
  margin: 0 auto;
  width: 100%; 
  background-color: white;
}
.dashboard-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}
.second {
  position: absolute;
  left: 300px;
}
.max-w_c{
max-width: 1100px;

}

@media (max-width: 768px) {
  .first{
    display: none;
 
  }

.second {
left: 0;
  }
}
.second ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  width: 100%;
}
