@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
img {
  width: 100%;
}
p,
a,
li {
  font-size: 16px !important;
}

ul li {
  font-weight: 700;
}

.activate {
  color: #38a926 !important;
}
a {
  color: black;
}
.a {
  display: flex;
  align-items: center;
}
h2 {
  color: #38a926;
}

.logo img {
  width: 50px;
  margin: 5px auto;
}
.logo {
  display: inline-grid;
  margin-top: 20px;
  margin-bottom: 40px;
}
.div-logo {
  text-align: center;
}

.dash-first-section {
  width: 20%;
  height: 100vh;
  background-color: rgb(179, 198, 171);
  text-align: center;
  padding: 20px 0;
  position: fixed;
}

ul li img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.flex-list {
  width: 80%;
  background-color: blue;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}
.nav-list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.fixed-bars {
  display: flex;
  position: relative;
}

.body-flex {
  width: 80%;
  margin-left: 20%;
}
.flex-all {
  display: flex;
}
.first {
  max-width: 300px;
  width: 100%;
  background-color: rgb(179, 198, 171);
  height: 100vh;
  position: fixed;
  left: 0;
}
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
}
.list_parent {
  position: relative;
}
.new_list {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  background-color: white;
}
.dashboard-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}
.second {
  position: absolute;
  left: 300px;
}
.max-w_c {
  max-width: 1100px;
}
.min-w {
  width: 900px;
}
.actively {
  background-color: #38a926;
  padding: 5px;
}
.actively a {
  color: black !important;
}
.dash-word {
  margin-top: 150px;
}
.courses-list {
  display: block !important;
}
.req {
  display: block !important;
}
.req li {
  list-style: disc;
  margin-left: 15px;
}
.dash-pro {
  margin: 15px 0;
  font-weight: 600;
}
.dash-intro {
  margin-bottom: 25px;
}
form {
  display: inline-grid;
}
label {
  font-weight: 600;
  margin-bottom: 20px;
}
input {
  margin-bottom: 20px;
  background-color: rgb(179, 198, 171);
  border: 1px;
  border-radius: 5px;
  padding: 10px;
}
.bttn-dash {
  margin: 30px 0;
}
.dash-bttn {
  background-color: #38a926;
  color: white;
  border-radius: 5px;
  border: 1px;
  width: 112px;
  padding: 10px;
  margin: 30px 0;
}
.courses-list-dash {
  margin: 30px 0;
}
.ui-course {
  border: 1px;
  background-color: rgba(172, 125, 30, 0.9);
  margin: 20px 0;
  display: block;
  padding: 15px 12px;
  color: white;
}

.down-part {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0 0 0;
  padding: 20px 0;
  border-top: 1px solid rgba(113, 113, 113, 0.6);
}
.down-part {
  display: flex;
}
.dash-tab {
  width: 169px;
  margin: 0 auto;
}

.dash-tab li {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.coursearea-div {
  padding-top: 100px;
  width: 320px;
  margin: 20px;
}
.coursearea-div img {
  width: 320px;
  height: 320px;
  border-top: 10px solid rgb(179, 198, 171);
  border-radius: 10px 10px 0 0;
}
.coursearea {
  text-align: center;
  padding: 20px;
  background-color: rgb(179, 198, 171);
  border-radius: 0 0 10px 10px;
}
.bttn-area {
  padding: 10px;
  margin: 0;
  background-color: #38a926;
  border: 1px;
  color: white;
  width: 134px;
  border-radius: 10px;
}
.bttn-area2 {
  width: 134px;
  padding: 10px;
  margin: 0;
  background-color: rgba(172, 125, 30, 0.9);
  color: white;
  border: 1px;
  border-radius: 10px;
}
.bttn-coursearea-div {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.flex-coursearea {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.all-form {
  margin-top: 150px;
}

.flex-form {
  display: flex;
}
.flex-name {
  display: grid;
}
.fl {
  margin-right: 100px;
}
.pro-input {
  width: 150px;
}

.pro-bttn {
  background-color: #38a926;
  color: white;
  border-radius: 5px;
  border: 1px;
  width: 440px;
  padding: 10px;
  margin: 30px 0;
}

input:focus-visible {
  outline: none;
}

@media (max-width: 768px) {
  .first {
    display: none;
  }

  .second {
    left: 0;
  }
}
.second ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 65px 0;

  width: 100%;
}
